.authPage {
  display: flex;
  justify-content: center;
}

.authForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  padding: 32px 27px;
  width: 440px;
  background: #ffffff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.12);
  border-radius: 6px;

  & > *:not(:first-child) {
    margin-top: 25px;
  }

  &_header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & > *:not(:first-child) {
      margin-top: 20px;
    }
  }

  &LoginBtn {
    width: 100%;
  }
}
.authFormInputs {
  width: 100%;

  & > *:not(:first-child) {
    margin-top: 25px;
  }
}
.authFormLogo {
  width: 56px;
}
.authFormTooltip {
  font-weight: 500;
  color: var(--text-secondary-color);
}
